<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Membaca URL tanpa ekstensi .html secara otomatis
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]
</IfModule>
